.App {
  text-align: center;
  margin: 100px;
}

.Stat-container {
    height: 400px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 200px;
}

.Stat-container-row {
    flex: 1;
}

.Port-control {
    height: 100px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.Port-control-btn {
    background-color: #000099;
    height: 40px;
    width: 80px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}
